@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
    
}
    

.navbar-brand {
    width: 15vw;
    min-width: 100px;
    max-width: 200px;
}
h1{
    font-size: 1.8em;
}
h2{
    font-size: 1.6em;
    color: #cddc39;
}
h3{
    font-size: 1.2em;
    font-weight: bold;
}
.btn{
    background-color: #cddc39;
}
footer{
    background-color: rgb(243, 245, 224);
}
.copyright{
    color: #ff6d00;
}
.logo{
    width: 100px;
}
.image-top{
    max-height: 30vh;
    object-fit: cover;
}
.image-top-index{
    
    object-fit: cover;
}
.carousel-style{
    color: black;
    background-color: rgba(255,255,255, 0.7);
}